<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h2">Contact</div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12 text-center">
      <p>The best way to contact me is by e-mail or phone.</p>
    </div>
  </div>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">e-mail</div>
        <div class="col-md-auto"><a href="mailto:delliott123@comcast.net">delliott123@comcast.net</a> </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">Phone</div>
        <div class="col-md-auto">978-702-4822</div>
      </div>
    </div>
  </div>
  <br>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto"><img src="assets/images/linkedin.png" (click)="OpenLinkin()" style="cursor: pointer" alt="LinkedIn Profile"></div>
      </div>
    </div>
  </div>
</div>














