<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h2">Contact</div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12 text-center">
      <p>Contact me by e-mail, phone, or LinkedIn Chat.</p>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12 text-center">
      <p>If I am busy and you can't get hold of me leave a message. In your communication be sure to include your interest in hiring me. If you leave this critical information out you may come across as a telemarketer and we will not connect.</p>
    </div>
  </div>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">e-mail:</div>
        <div class="col-md-auto"><a href="mailto:contact@entappdev.com">contact@entappdev.com</a> </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">Cell Phone:</div>
        <div class="col-md-auto">978-228-4127</div>
      </div>
    </div>
  </div>
  <br>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">Home Phone:</div>
        <div class="col-md-auto">978-702-4822</div>
      </div>
    </div>
  </div>
  <br>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row justify-content-md-center">
        <div class="col-md-auto"><img src="../../../assets/images/linkedin.png" (click)="OpenLinkin()" style="cursor: pointer" alt="LinkedIn Profile"></div>
      </div>
    </div>
  </div>
</div>














