<div class="container">
  <h2>Supported Browsers and Devices</h2>
  <div class="table-responsive">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell">

              <!--<img src="assets/images/corner.png" style="vertical-align: middle;  text-align: center; ">-->
              <img src="assets/images/corner.png" class="img-fluid" >

           <!--<svg viewBox="0 0 100 100" style="padding:0;" class="img-fluid" >-->
             <!--<polygon points="0,0 0,300 300,300" style="fill: aqua;opacity: 0.5%"></polygon>-->
             <!--<polygon points="0,0 300,0 300,300" style="fill: cornflowerblue;opacity: 0.5%"></polygon>-->
              <!--<text x="10" y="95" fill="black">Browsers</text>-->
              <!--<text x="40" y="20" fill="black">Devices</text>-->
             <!--<line x1="0" y1="0" x2="100" y2="100" style="stroke:#999999;stroke-width:1"></line>-->
          <!--</svg>-->
          </div>
          <div class="divTableCell divTableHead">Latest versions</div>
          <div class="divTableCell divTableHead">Android Mobile & Tablet<br><img src="assets/images/android_icon.png" class="iconSize"></div>
          <div class="divTableCell divTableHead">IOS Mobile & Tablet<br><img src="assets/images/apple_ios_logo.png" class="iconSize"></div>
          <div class="divTableCell divTableHead">Windows OS Desktop & tablet<br><img src="assets/images/windows_logo.png" class="iconSize"></div>
          <div class="divTableCell divTableHead">Mac OS Desktop<img src="assets/images/mac_os_icon.png" class="iconSize"></div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell divTableHead">Chrome<img src="assets/images/chrome_icon.png" class="iconSize"></div>
          <div class="divTableCell latestVersion">71</div>
          <div class="divTableCell available">71</div>
          <div class="divTableCell available">71</div>
          <div class="divTableCell available">71</div>
          <div class="divTableCell available">71</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell divTableHead">Firefox<img src="assets/images/firefox_icon.png" class="iconSize"></div>
          <div class="divTableCell latestVersion">64</div>
          <div class="divTableCell available">64</div>
          <div class="divTableCell available">64</div>
          <div class="divTableCell available">64</div>
          <div class="divTableCell available">64</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell divTableHead">Edge (EdgeHTML)<img src="assets/images/edge.jpg" class="iconSize"></div>
          <div class="divTableCell latestVersion">44 (18)</div>
          <div class="divTableCell available">44 & 42 (18 & 17)</div>
          <div class="divTableCell available">44 & 42 (18 & 17)</div>
          <div class="divTableCell available">44 & 42 (18 & 17)</div>
          <div class="divTableCell notAvailable">N/A</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell divTableHead">IE<img src="assets/images/internet_explorer_icon.png" class="iconSize"></div>
          <div class="divTableCell latestVersion">10 & 11</div>
          <div class="divTableCell notAvailable">N/A</div>
          <div class="divTableCell notAvailable">N/A</div>
          <div class="divTableCell available">10 & 11</div>
          <div class="divTableCell notAvailable">N/A</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell divTableHead">Safari<img src="assets/images/ios7_safari_icon.png" class="iconSize"></div>
          <div class="divTableCell latestVersion">12</div>
          <div class="divTableCell notAvailable">N/A</div>
          <div class="divTableCell available">12 & 11</div>
          <div class="divTableCell notAvailable">N/A</div>
          <div class="divTableCell available">12 & 11</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell divTableHead">Android Browser & WebView<img src="assets/images/android_icon.png" class="iconSize"></div>
          <div class="divTableCell latestVersion">8</div>
          <div class="divTableCell available">
            <div class="row">
              <div class="col-md">
                <div class="androidOS">Nougat (7.0)</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="androidOS">Marshmallow (6.0)</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="androidOS">Lollipop (5.0, 5.1)</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="androidOS">KitKat (4.4)</div>
              </div>
            </div>
          </div>
          <div class="divTableCell notAvailable">N/A</div>
          <div class="divTableCell notAvailable">N/A</div>
          <div class="divTableCell notAvailable">N/A</div>
      </div>
      </div>
    </div>
  </div>
  <p>Last Updated: 2/5/2019</p>
</div>
