<div>
  <div class="row">
    <div class="col-md text-center">
      <div class="h2">Professional Web Application Freelancer</div>
      <div class="h2">DANA ELLIOTT</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Experienced in web applications pacifically front-end and business logic. Can integrate with existing back-end servers and databases.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Very passionate about write once run every web browser solutions.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Looking to <b>volunteer</b> my services to solve your web application problems.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Targeting towns, cities, charities, and small businesses in New England. Remote work US only.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Prior desktop solutions have been written for land parcel management, financial, and government industries.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Take a look over my site and contact me. Let me know how I can help with your application problems.</P>
    </div>
  </div>
</div>
