<div>
  <div class="row">
    <div class="col-md text-center">
      <div class="h2">Enterprise Application Developer</div>
      <div class="h2">DANA ELLIOTT</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Experienced in enterprise solutions requiring integration with ERP or other critical systems. Solutions might include integrated application, standalone applications, reports, and databases.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Senior level skills means working independently and productively with minimal to no oversight required. </P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Looking for businesses and clients that can utilize my skills to help solve their enterprise problems.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Targeting the following geographic areas:<p>
      <ol class="list-center">
        <li class="list-item-left">New England. Ideally upto one hour away from my home (Haverhill, MA).</li>
        <li class="list-item-left">Remote work (US only).</li>
        <li class="list-item-left">Willing to temporally relocate for a short term contract (US only).</li>
        <li class="list-item-left">Willing to consider permanent relocation for the right job (US only).</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Prior solutions have been written for electronic manufacturing, land parcel management, financial, and government industries.</P>
    </div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <P>Take a look over my site and contact me. Let me know how I can help with your enterprise issues.</P>
    </div>
  </div>
</div>
