<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h2">Skills</div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12 text-center">
      <div class="h3">My knowledge level.</div>
    </div>
  </div>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-lg-3 my-auto"></div>
        <div class="col-md-8 col-lg-9 my-auto text-center">
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">Junior</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">Mid Level</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">Senior</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h4 h-tag">Primary Technology</div>
    </div>
  </div>
  <app-skill skillName="Government (13&nbsp;yrs.)" percentProgress="90" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Development (20&nbsp;yrs.)" percentProgress="90" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Microsoft (20&nbsp;yrs.)" percentProgress="90" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Angular 7" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Bootstrap 4" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="TypeScript" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="HTML5" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="CSS3" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="WebStorm" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="AngularCLI" percentProgress="35" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="JavaScript (ES5, ES6 ES2015)" percentProgress="25" [obSkills]="obSkills()"></app-skill>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h4 h-tag" >Technology and skills I have used in my career but no longer use full time.</div>
      <div class="h4 h-tag" >Listed in no particular order.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>.NET C#</li>
        <li>SQL (MS, Oracle, MS Access)</li>
        <li>stored procedures (MS, Oracle)</li>
        <li>WPF</li>
        <li>VB6</li>
        <li>Oracle</li>
        <li>Microsoft SQL Server</li>
        <li>Visual Studio with ReSharper</li>
        <li>SQL Server Management Studio (SSMS)</li>
        <li>Team Foundation Server (TFS)</li>
        <li>JIRA</li>
        <li>Entity Framework</li>
        <li>vax mainframe</li>
        <li>Simul8</li>
        <li>Fortran</li>
        <li>LeadTools</li>
        <li>Microsoft Access</li>
      </ul>
    </div>
  </div>
   <div class="row">
      <div class="col-md-12 text-center">
        Last Updated: 4/10/2019
      </div>
    </div>
</div>













