<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h2">Skills</div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12 text-center">
      <div class="h3">My knowledge level.</div>
    </div>
  </div>
  <div class="row skill-row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-lg-3 my-auto"></div>
        <div class="col-md-8 col-lg-9 my-auto text-center">
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">Junior</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">Mid Level</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">Senior</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h4 h-tag">Primary Technology</div>
    </div>
  </div>
  <app-skill skillName="C# (3&nbsp;yrs.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="WPF/XAML (3&nbsp;yrs.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Crystal Reports (3&nbsp;yrs.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>

  <app-skill skillName="PSQL/PostgresSQL (Pervasive Database) (1&nbsp;yrs.)" percentProgress="60" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="SQL (MS, Oracle) (3&nbsp;yrs.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="ADO.NET (1&nbsp;yrs.)" percentProgress="60" [obSkills]="obSkills()"></app-skill>

  <app-skill skillName=".NET 4 through 4.7.2 (3&nbsp;yrs.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Visual Studio 2019 (6&nbsp;Months.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Visual Studio 2015-2017 (3&nbsp;yrs.)" percentProgress="80" [obSkills]="obSkills()"></app-skill>

  <app-skill skillName="Development (20&nbsp;yrs.)" percentProgress="90" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Government (13&nbsp;yrs.)" percentProgress="90" [obSkills]="obSkills()"></app-skill>
  <app-skill skillName="Microsoft (20&nbsp;yrs.)" percentProgress="90" [obSkills]="obSkills()"></app-skill>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h4 h-tag" >Technology and skills I have used in my career but lately have not been need for a job.</div>
      <div class="h4 h-tag" >Listed in no particular order.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>stored procedures (MS, Oracle)</li>
        <li>VB6</li>
        <li>Oracle</li>
        <li>Microsoft SQL Server</li>
        <li>Visual Studio with ReSharper</li>
        <li>SQL Server Management Studio (SSMS)</li>
        <li>Team Foundation Server (TFS)</li>
        <li>JIRA</li>
        <li>Entity Framework</li>
        <li>vax mainframe</li>
        <li>Simul8</li>
        <li>Fortran</li>
        <li>LeadTools</li>
        <li>Microsoft Access</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h4 h-tag" >Technology and skills I have used but not on a job.</div>
      <div class="h4 h-tag" >Listed in no particular order.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>Angular 8 (This site is written with Angular 8)</li>
        <li>Angular 7</li>
        <li>Bootstrap 4</li>
        <li>TypeScript</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>WebStorm</li>
        <li>AngularCLI</li>
        <li>JavaScript (ES5, ES6 ES2015)</li>
      </ul>
    </div>
  </div>
   <div class="row">
      <div class="col-md-12 text-center">
        Last Updated: 3/23/2020
      </div>
    </div>
</div>













