/*.skill-row.myname:nth-child(odd)  {*/
/*    background-color: red;*/
/*}*/
/*.skill-row.myname:nth-child(even)  {*/
/*    background-color: blue;*/
/*}*/

.h-tag {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}


li {
  background-color: aqua;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
}

/*
.tech-style {
  background-color: aqua;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
}
*/
