<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h2">Work Experience</div>
    </div>
  </div>
  <div>
    <div class="accordion" id="IdJobs">
      <div *ngFor="let job of jobs; let i = index">
        <div class="card">
          <div class="card-header" [attr.id]="'heading' + i">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
               {{job.company_name}}
              </button>
            </h2>
          </div>
          <div [attr.id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#IdJobs">
            <div class="card-body back-color">
              <app-job [job]="job"></app-job>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
          <div class="card-header" [attr.id]="'heading_education'">
            <div class="h2 mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse_education'" aria-expanded="false" [attr.aria-controls]="'collapse_education'">
               Education
              </button>
            </div>
          </div>
          <div [attr.id]="'collapse_education'" class="collapse" [attr.aria-labelledby]="'heading_education'" data-parent="#IdJobs">
            <div class="card-body back-color" >
            <br>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="h2">Education</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div>Bachelor of Science, Computer Science</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div>Minor in Mathematics</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div>Salem State University (formerly Salem State College) Salem, MA</div>
                  </div>
                </div>
                <br>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
